<%- include('partials/header') %>

    <section class="card-container">
        <div class="card">Environmental</div>
        <div class="card">Educational</div>
        <div class="card">Community Service</div>
        <div class="card">Health and Wellness</div>
    </section>

    <%- include('partials/footer') %>