<%- include('partials/header') %>

    <section class="card-container">
        <div class="card">
            <h3>Local Food Bank</h3>
            <p>Providing nutritional support to families in need.</p>
        </div>
        <div class="card">
            <h3>Animal Rescue League</h3>
            <p>Dedicated to the welfare of abandoned pets.</p>
        </div>
    </section>

    <%- include('partials/footer') %>