<%- include("partials/header", { title: title }) %>

    <main>
        <h2>Organizations</h2>

        <img src="/images/org1.jpg" alt="Organization Image" width="300">

        <p>We partner with local organizations to serve the community.</p>
    </main>

    <%- include("partials/footer") %>